/* Styles */
html {
    overflow-y: auto
}

.v-messages__message {
    color: rgb(176, 0, 32);
}

/* Transitions */
.fade-enter-active, .fade-leave-active {
    transition: opacity 0.5s ease;
}

.fade-enter-from, .fade-leave-to {
    opacity: 0;
}